<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css">
    <title>Video Streaming Demonstration</title>
    <script>
      
      function saveImageAndSend() {
        var img = document.getElementsByTagName('img')[0];
        var canvas = document.createElement('canvas');
        var img = document.getElementById('video-stream');
        canvas.width = img.naturalWidth;
        canvas.height = img.naturalHeight;
        var ctx = canvas.getContext('2d');
        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
        canvas.toBlob(function(blob) {
          var formData = new FormData();
          formData.append('image', blob, 'image.png');
          fetch('/stream/capture_image', {
            method: 'POST',
            body: formData
          })
          .then(function(response) {
            response.text().then(function(data) {
                console.log(data);
                document.getElementById('message').innerHTML = JSON.parse(data).message;
            });
          })
          .catch(function(error) {
            console.error('Error uploading image:', error);
          });
        }, 'image/png');
        img.src = "";
      }
    </script>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img id="video-stream" src="{{ url_for('video_feed') }}">
    <br>
    <button onclick="saveImageAndSend()">Capture Image</button>
    <div id="message"></div>
  </body>
</html>
